<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/admin.css">
  </head>
  <body>
    <div class="top">
    	<div class="logo-wrap">
    		<h1>
    			<img src="../images/topLogo.png" alt="">
    		</h1>
    		<ul class="top-menu">
    			<li class="firstLi">
    				<a href="javascript:;">
    					<img src="../images/topmune_09.png" alt="">
    					<span>更多模板堂产品</span>
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;">
    					<img src="../images/topmune_01.png" alt="">
    					<span>开店向导</span>
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;">
    					<img src="../images/topmune_02.png" alt="">
    					<span>记事本</span>
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;">
    					<img src="../images/topmune_03.png" alt="">
    					<span>刷新</span>
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;">
    					<img src="../images/topmune_04.png" alt="">
    					<span>个人设置</span>
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;">
    					<img src="../images/topmune_05.png" alt="">
    					<span>管理员留言</span>
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;">
    					<img src="../images/topmune_06.png" alt="">
    					<span>查看网店</span>
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;">
    					<img src="../images/topmune_007.png" alt="">
    					<span>帮助</span>
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;">
    					<img src="../images/topmune_07.png" alt="">
    					<span>关于ECSHOP</span>
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;">
    					<img src="../images/qingchu.png" alt="">
    					<span>清除缓存</span>
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;">
    					<img src="../images/topmune_08.png" alt="">
    					<span>退出</span>
    				</a>
    			</li>
    		</ul>
    	</div>
    	<div class="nav-wrap">
    		<nav>
    			<li>
    				<a href="javascript:;">
	    				<img src="../images/index-11_07.png" alt="">
	    				<span>起始页</span>
    				</a>
    				<span class="nav-border"></span>
    			</li>
    			<li>
    				<a href="javascript:;">
	    				<img src="../images/index-11_41.png" alt="">
	    				<span>设置导航栏</span>
    				</a>
    				<span class="nav-border"></span>
    			</li>
    			<li>
    				<a href="javascript:;">
    					<img src="../images/index-11_09.png" alt="">
    					<span>商品管理</span>
    					<i>35</i>
    				</a>
    				<span class="nav-border"></span>
    			</li>
    			<li>
    				<a href="javascript:;">
    					<img src="../images/dd.png" alt="">
    					<span>订单管理</span>
    					<i>0</i>
    				</a>
    				<span class="nav-border"></span>
    			</li>
    			<li>
    				<a href="javascript:;">
    					<img src="../images/index-11_13.png" alt="">
    					<span>广告管理</span>
    					<i>0</i>
    				</a>
    				<span class="nav-border"></span>
    			</li>
    			<li>
    				<a href="javascript:;">
    					<img src="../images/index-11_19.png" alt="">
    					<span>用户评论</span>
    					<i>0</i>
    				</a>
    				<span class="nav-border"></span>
    			</li>
    			<li>
    				<a href="javascript:;">
    					用户评论
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;">
    					商品列表
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;">
    					会员列表
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;">
    					商店设置
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;">
    					移动版
    				</a>
    			</li>
    			<li>
    				<a href="javascript:;">
    					服务市场
    				</a>
    			</li>
    		</nav>
    	</div>
    </div>
    <div class="main">
    	<div class="main-menu">
    		<h2>导航菜单</h2>
    		<ul class="side-menu">
    			<li>商品管理
					<ul class="small-menu">
						<li>商品列表</li>
						<li>添加新商品</li>
						<li>商品分类</li>
						<li>用户评论</li>
						<li>商品品牌</li>
						<li>商品类型</li>
						<li>商品回收站</li>
						<li>图片批量处理</li>
						<li>图片批量上传</li>
						<li>商品批量导出</li>
						<li>商品批量修改</li>
						<li>生成商品代码</li>
						<li>标签管理</li>
						<li>虚拟商品列表</li>
						<li>添加虚拟商品</li>
						<li>更改加密串</li>
						<li>商品自动上下架</li>
					</ul>
    			</li>
    			<li>促销管理</li>
    			<li>订单管理</li>
    			<li>广告管理</li>
    			<li>报表统计</li>
    			<li>文章管理</li>
    			<li>会员管理</li>
    			<li>权限管理</li>
    			<li>系统设置</li>
    			<li>模板管理</li>
    			<li>数据库管理</li>
    			<li>短信管理</li>
    			<li>推荐管理</li>
    			<li>邮件群发管理</li>
    			<li>移动版管理</li>
    			<li>模板堂知识库</li>
    		</ul>
    	</div>
    </div>
  </body>
</html>